.description{
	border-radius: 10px;
	background-color: rgb(240,240,240);
	margin: 2% 3% 2% 3%;
	padding: 1%;
	text-align: justify;
}

.members{
	margin: 2% 3% 2% 3%;
	padding: 1%;
}
.member{
	display: inline-block;
	background-color: rgb(240, 240, 240);
	border-radius: 10px;
	vertical-align: top;
	margin: 1%;
	width: 30%;
	min-width: 250px;
	text-align: center;
	overflow: hidden;
}
.img-member{
	height: 200px;
}
.name{
	background-color: rgb(57, 115, 141);
	border-radius: 10px 10px 0 0;
	border: 1px solid rgb(240, 240, 240);;
}
.members *:not(.name){
	margin: 1%;
}